<div class="col-xs-12 col-sm-12 col-md-12">
	<footer class="well well-sm">
	<center>
		<a href="" class="fa fa-facebook-square" target="_blank" ></a>
	    <a href="" class="fa fa-twitter" target="_blank" ></a>
	    <a href="" class="fa fa-linkedin" target="_blank" ></a>
    </center>
	</footer>
</div>